<div class="wrapper">
  <div class='navbar-logal'>
    Just a Bite!
  </div>
  <ul class='navbar-list'>
    <li  class='active'><a href="#">抽個大獎</a> </li>
    <li><a href="#">我要點餐</a> </li>
    <li><a href="#">查詢訂單</a> </li>
    <li><a href="#">常見問題</a> </li>
    <% if (username) { %>
      <li><a href="/prize/logout">登出</a> </li>
      <li><a href="/prize/admin">設定</a> </li>
    <% } else { %>
      <li><a href="/prize/login">登入</a> </li>
    <% } %>
  </ul>
</div>